
.header-container {
    background-color:   hsl(211, 81%, 67%);
    min-height: 5em;
    max-width: 70%;
    margin: 0 auto;
    border-radius: 0 0 10px 10px;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    margin:0;
    padding: 0;
    color: white;
    font-size: 45px;
}
